body {
  background-color: #e8edaa;
}

.section {
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 8px;
  background-color: #20da97;
}
.navigation {
  padding: 0 0 8px 0;
}
.navigation a {
  color: #145488;
}
.section-article a {
  color: rgb(139, 7, 179);
}
.section-heading,
.paragraph {
  color: #122225;
}

.color1 {
  color: #122225;
}
.color2 {
  color: #145488;
}
.color3 {
  color: #1aada3;
}
.color4 {
  color: #20da97;
}
.color5 {
  color: #e8edaa;
}
